<br />
<div class="row">
    <div class="col-lg-6">
        <h3 class="text-center">Este é o projeto de formatura do grupo C10, de autoria de Lucas Arthur Felgueiras</h3>
        <br />
        <p class="text-center">O sistema tem como missão automatizar o processo das disciplinas de formatura, inclusive o momento da feira prática.</p>
        <br />
    </div>
    <div class="col-lg-6">
        <p class="text-center">Alguns links úteis para melhor entendimento do projeto:</p>
        <ul>
            <li><a target="_blank" href='https://drive.google.com/open?id=1pfCnHTHElkPuhl9bd-lsKMtvoegceY8U'>Monografia</a></li>
            <li><a target="_blank" href='https://drive.google.com/open?id=16eEQ31ifY9Gwj1H7yTO9iP4QzXSRzYKJ'>Banner</a></li>
            <li><a target="_blank" href='https://drive.google.com/open?id=1viLCGbuDXn0vRdpSTaKIP7jZVQNXp8qg'>Press-release</a></li>
            <li><a target="_blank" href='https://github.com/LucasArthur94/tccapp'>Projeto no Github</a></li>
            <li><a target="_blank" href='https://github.com/LucasArthur94/tcc'>Monongrafia no Github</a></li>
            <li><a target="_blank" href='https://docs.google.com/presentation/d/1q-IiO149VnIFcGHyD0ogOQ_LfXldLZCZGbaUDxd7kow/edit?usp=sharing'>Apresentação de Defesa</a></li>
        </ul>
    </div>
</div>
