{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Listagem de Disciplinas</h3>
            {% if disciplines|length > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Modalidade</th>
                                <th scope="col">Quantidade de Atividades</th>
                                <th scope="col">Data de Início</th>
                                <th scope="col">Data de Término</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for discipline in disciplines %}
                            <tr>
                                <th>
                                    {% if discipline.modality == 'QDR' %}
                                        Quadrimestral
                                    {% elif discipline.modality == 'SMS' %}
                                        Semestral
                                    {% else %}
                                        {{ discipline.modality }}
                                    {% endif %}
                                </th>
                                <th>{{ discipline.activity_set.count }}</th>
                                <th>{{ discipline.start_date }}</th>
                                <th>{{ discipline.end_date }}</th>
                                <th>
                                    <a title="Ver mais" href="{% url 'disciplines_show' discipline.pk %}">
                                        <span class="fas fa-eye"></span>
                                    </a>
                                    |
                                    <a title="Gerenciar Atividades" id='manage-activities-{{ discipline.pk }}' href="{% url 'activities_list' discipline.pk %}">
                                        <span class="fas fa-list-ul"></span>
                                    </a>
                                    {% if user.is_superuser %}
                                        |
                                        <a title="Editar" href="{% url 'disciplines_update' discipline.pk %}">
                                            <span class="fas fa-user-edit"></span>
                                        </a>
                                        |
                                        <a title="Apagar" href="{% url 'disciplines_delete' discipline.pk %}">
                                            <span class="fas fa-trash-alt"></span>
                                        </a>
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            {% else %}
                <br />
                <h2 class='text-center'>Sem disciplinas cadastradas!</h2>
            {% endif %}
            <a href="{% url 'disciplines_new' %}" id="new-discipline" class="btn btn-primary float-right"> Nova Disciplina</a>
            <div class="clearfix"></div>
        </div>
    </div>


{% endblock %}
