{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center">Informações da Disciplina</h3>
            <br />
            <div class="card">
                <div class="card-header primary-color lighten-1 white-text">Dados da Disciplina</div>
                <div class="card-body">
                    Modalidade:
                        {% if discipline.modality == 'QDR' %}
                            <strong>Quadrimestral</strong>
                        {% elif discipline.modality == 'SMS' %}
                            <strong>Semestral</strong>
                        {% else %}
                            <strong>{{ discipline.modality }}</strong>
                        {% endif %}
                    <br />
                    Atividades:
                        {% if discipline.activity_set.count > 0 %}
                            <ul>
                                {% for activity in discipline.activity_set.all %}
                                    <a href="{% url 'activities_update' discipline.pk activity.pk %}">
                                        <li><strong>{{ activity.name }}</strong></li>
                                    </a>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>Sem atividades cadastradas</strong>
                            <br />
                        {% endif %}
                    Data de Início: <strong>{{ discipline.start_date }}</strong>
                    <br />
                    Data de Término: <strong>{{ discipline.end_date }}</strong>
                </div>
            </div>
            <br />
            <a class="btn btn-primary btn-block waves-effect" href="{% url 'disciplines_list' %}" role="button">
                Voltar
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>


{% endblock %}
