{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <div class='col-md-12'>
        {% if validlink %}
            <h3 class='text-center'>Alterar Senha</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" id="submit" class="btn btn-primary float-right">Alterar Senha</button>
                <div class="clearfix"></div>
            </form>
        {% else %}
            <p class="text-center">
              O link de recuperação de senha é inválido! Provavelmente ele já expirou ou já foi utilizado! Favor tentar novamente.
            </p>
        {% endif %}
    </div>
{% endblock %}
