{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Listagem de Professores</h3>
            {% if teachers|length > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Nº USP</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <th>{{ teacher.user.name }}</th>
                                <th>{{ teacher.user.email }}</th>
                                <th>{{ teacher.usp_number }}</th>
                                <th>
                                    <a title="Apagar" href="{% url 'teachers_delete' teacher.pk %}">
                                        <span class="fas fa-trash-alt"></span>
                                    </a>
                                    |
                                    <a title="Editar" href="{% url 'teachers_update' teacher.pk %}">
                                        <span class="fas fa-user-edit"></span>
                                    </a>
                                </th>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            {% else %}
                <br />
                <h2 class='text-center'>Sem docentes cadastrados!</h2>
            {% endif %}
            <a href="{% url 'teachers_new' %}" class="btn btn-primary float-right"> Novo Docente</a>
            <div class="clearfix"></div>
        </div>
    </div>


{% endblock %}
