{% load active_link_tags %}

<li class="nav-item {% active_link 'disciplines_list' %}">
  <a class="nav-link" id="coordinator-disciplines" href="{% url 'disciplines_list' %}">Disciplinas</a>
</li>
<li class="nav-item {% active_link 'teachers_list' %}">
  <a class="nav-link" id="coordinator-teachers" href="{% url 'teachers_list' %}">Docentes</a>
</li>
<li class="nav-item {% active_link 'students_list' %}">
  <a class="nav-link" id="coordinator-students" href="{% url 'students_list' %}">Alunos</a>
</li>
<li class="nav-item {% active_link 'guests_list' %}">
  <a class="nav-link" id="coordinator-guests" href="{% url 'guests_list' %}">Convidados Externos</a>
</li>
<li class="nav-item {% active_link 'workgroups_list' %}">
  <a class="nav-link" id="coordinator-workgroups" href="{% url 'workgroups_list' %}">Grupos de Trabalho</a>
</li>
<li class="nav-item {% active_link 'rooms_list' %}">
  <a class="nav-link" id="coordinator-rooms" href="{% url 'rooms_list' %}">Salas</a>
</li>
<li class="nav-item {% active_link 'events_list' %}">
  <a class="nav-link" id="coordinator-events" href="{% url 'events_list' %}">Eventos</a>
</li>
<li class="nav-item {% active_link 'rules_list' %}">
  <a class="nav-link" id="coordinator-rules" href="{% url 'rules_list' %}">Fórmulas</a>
</li>
