{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Atividades da Disciplina</h3>
            <br />
            {% if allocations|length > 0 %}
                <div class="row">
                    {% for allocation in allocations %}
                        <div class="col-lg-4">
                            <div class="card">
                                {% if allocation.is_closed %}
                                    <div class="card-header danger-color lighten-1 white-text">{{ allocation.name }} - Fechada</div>
                                {% else %}
                                    <div class="card-header success-color lighten-1 white-text">{{ allocation.name }} - Aberta</div>
                                {% endif %}
                                <div class="card-body">
                                    Data Limite: <strong>{{ allocation.due_date }}</strong>
                                    <br />
                                    <br />
                                    <div class="btn-group float-right" role="group" aria-label="Activity home operations">
                                        {% if not allocation.is_closed and user.student %}
                                            <a href="{% url 'deliveries_new' allocation.id %}" class="btn btn-default btn-sm">
                                                <strong>Realizar Entrega</strong>
                                            </a>
                                            <br />
                                        {% endif %}
                                        <a href="{% url 'deliveries_list' allocation.id %}" class="btn btn-warning btn-sm"> <strong>Ver Entregas</strong></a>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="btn-group float-right" role="group" aria-label="Activity home operations">
                                        {% if user.coordinator %}
                                            <a href="{% url 'allocations_show' event_id allocation.pk %}" class="btn btn-info btn-sm">
                                                <strong>Ver mais</strong>
                                            </a>
                                            <br />
                                            <a href="{% url 'allocations_update' event_id allocation.pk %}" class="btn btn-primary btn-sm">
                                                <strong>Editar</strong>
                                            </a>
                                            <br />
                                            <a href="{% url 'allocations_delete' event_id allocation.pk %}" class="btn btn-danger btn-sm">
                                                <strong>Apagar</strong>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <br />
                <h2 class='text-center'>Sem atividades cadastradas nesta disciplina!</h2>
            {% endif %}
            <br />
            {% if user.coordinator %}
                <a href="{% url 'allocations_new' event_id %}" id="new-allocation" class="btn btn-primary float-right"> Nova Alocação</a>
            {% endif %}
            <a class="btn btn-outline-primary waves-effect float-right" href="{% url 'events_list' %}" role="button">
                Voltar
            </a>
            <div class="clearfix"></div>
        </div>
    </div>


{% endblock %}
