{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Listagem de Atividades da Disciplina</h3>
            {% if activities|length > 0 %}
                {% if user.is_superuser %}
                    {% include 'activities_table.html' %}
                {% else %}
                    {% include 'activities_cards.html' %}
                {% endif %}
            {% else %}
                <br />
                <h2 class='text-center'>Sem atividades cadastradas nesta disciplina!</h2>
            {% endif %}
            <a href="{% url 'activities_new' discipline_id %}" class="btn btn-primary float-right"> Nova Atividade da Disciplina</a>
            <a class="btn btn-outline-primary waves-effect float-right" href="{% url 'disciplines_list' %}" role="button">
                Voltar
            </a>
            <div class="clearfix"></div>
        </div>
    </div>


{% endblock %}
