{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center">Informações da Atividade</h3>
            <br />
            <div class="card">
                <div class="card-header primary-color lighten-1 white-text">Nome da Atividade: {{ activity.name }}</div>
                <div class="card-body">
                    Peso: <strong>{{ activity.weight }}</strong>
                    <br />
                    Data Limite: <strong>{{ activity.due_date }}</strong>
                    <br />
                    Nome do Arquivo Principal:
                        <strong>{{ activity.main_file_name }}</strong>
                        {% if activity.main_file_required %}
                            <span class="badge badge-danger">Obrigatório</span>
                        {% elif not activity.main_file_required %}
                            <span class="badge badge-success">Opcional</span>
                        {% endif %}
                    <br />
                    Nome do Arquivo Secundário:
                        <strong>{{ activity.side_file_name }}</strong>
                        {% if activity.side_file_required %}
                            <span class="badge badge-danger">Obrigatório</span>
                        {% elif not activity.side_file_required %}
                            <span class="badge badge-success">Opcional</span>
                        {% endif %}
                </div>
            </div>
            <br />
            <a class="btn btn-primary btn-block waves-effect" href="{% url 'activities_list' discipline_id %}" role="button">
                Voltar
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>


{% endblock %}
