{% load active_link_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/css/mdb.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}TCC Poli USP{% endblock %}</title>
</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'home' %}">TCC Poli USP</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% active_link 'users_list' %}">
                <a class="nav-link" href="{% url 'users_list' %}">Docentes</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navBarOperations">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                {% if user.is_authenticated %}
                  <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                {% else %}
                  <a class="nav-link" href="{% url 'login' %}">Entrar</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
    {% endblock %}
    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
    {% block footer %}
        <!-- Footer -->
        <footer class="page-footer font-small blue fixed-bottom">

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2018 PCS Poli USP:
            <a href="https://pcs.usp.br/">Site do PCS</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->
    {% endblock %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.7/js/mdb.min.js"></script>
</body>
</html>
