{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Listagem de Convidados Externos</h3>
            {% if guests|length > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for guest in guests %}
                            <tr>
                                <th>{{ guest.user.name }}</th>
                                <th>{{ guest.user.email }}</th>
                                <th>{{ guest.organization_name }}</th>
                                <th>
                                    <a title="Ver mais" href="{% url 'guests_show' guest.pk %}">
                                        <span class="fas fa-eye"></span>
                                    </a>
                                    |
                                    <a title="Editar" href="{% url 'guests_update' guest.pk %}">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    {% if guest.user.email != user.email %}
                                        |
                                        <a title="Apagar" href="{% url 'guests_delete' guest.pk %}">
                                            <span class="fas fa-trash-alt"></span>
                                        </a>
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            {% else %}
                <br />
                <h2 class='text-center'>Sem convidados externos cadastrados!</h2>
            {% endif %}
            {% if user.coordinator %}
                <a href="{% url 'guests_new' %}" id="new-guest" class="btn btn-primary float-right"> Novo Convidado Externo</a>
                <div class="clearfix"></div>
            {% endif %}
        </div>
    </div>


{% endblock %}
