{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center">Informações da Entrega</h3>
            <br />
            <div class="card">
                {% if delivery.is_avaliated_by_advisor %}
                    <div class="card-header success-color lighten-1 white-text">Status: Avaliada pelo Orientador</div>
                {% elif delivery.is_avaliated_by_guest %}
                    <div class="card-header warning-color lighten-1 white-text">Status: Avaliada pelo Co-orientador</div>
                {% else %}
                    <div class="card-header danger-color lighten-1 white-text">Status: Não avaliada</div>
                {% endif %}
                <div class="card-body">
                    Autor: <strong>{{ delivery.author.name }}</strong>
                    <br />
                    Data da Submissão: <strong>{{ delivery.submission_date }}</strong>
                    <br />
                    {% if activity.main_file_required %}
                        Arquivo Principal: <a href="{{ delivery.main_file.url }}" target="_blank">{{ activity.main_file_name }}</a>
                        <br />
                    {% endif %}
                    {% if activity.side_file_required %}
                        Arquivo Secundário: <a href="{{ delivery.side_file.url }}" target="_blank">{{ activity.side_file_name }}</a>
                        <br />
                    {% endif %}
                    Comentários da Entrega: <strong>{{ delivery.submission_comments }}</strong>
                    <br />
                    {% if delivery.is_avaliated %}
                        Comentários: <strong>{{ delivery.public_comments }}</strong>
                        <br />
                    {% endif %}
                    {% if user.coordinator or user.teacher or user.guest %}
                        {% if delivery.is_avaliated %}
                            Comentários para Coordenação: <strong>{{ delivery.private_comments }}</strong>
                            <br />
                            Nota: <strong>{{ delivery.score }}</strong>
                            <br />
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <br />
            <a class="btn btn-primary btn-block waves-effect" href="{% url 'deliveries_list' activity.pk %}" role="button">
                Voltar
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>


{% endblock %}
