{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center">Informações da Entrega</h3>
            <br />
            <div class="card">
                {%  %}
                    <div class="card-header success-color lighten-1 white-text">Status: Avaliada pelo Orientador</div>
                {%  %}
                    <div class="card-header warning-color lighten-1 white-text">Status: Avaliada pelo Co-orientador</div>
                {%  %}
                    <div class="card-header danger-color lighten-1 white-text">Status: Não avaliada</div>
                {% endif %}
                <div class="card-body">
                    Autor: <strong>{{ delivery.author.name }}</strong>
                    Data da Submissão: <strong>{{ delivery.submission_date }}</strong>
                    <br />

                </div>
            </div>
            <br />
            <a class="btn btn-primary btn-block waves-effect" href="{% url 'disciplines_list' %}" role="button">
                Voltar
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>


{% endblock %}
